# Maven target folder
/target/

# IntelliJ / Eclipse project files
*.iml
.idea/
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Maven Wrapper (optional)
.mvn/wrapper/maven-wrapper.jar

# Secrets / local configs
src/main/resources/application.properties
